# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config1 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [23]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df  = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Barrow,US,71.2906,-156.7887,19.54,93,30,18.21,scattered clouds
1,1,Yellowknife,CA,62.4560,-114.3525,27.12,74,75,5.75,broken clouds
2,2,Airai,TL,-8.9266,125.4092,61.43,80,73,2.71,broken clouds
3,3,Mahebourg,MU,-20.4081,57.7000,73.26,81,31,10.40,scattered clouds
4,4,Itarema,BR,-2.9248,-39.9167,83.66,65,13,16.58,few clouds
5,5,Tuktoyaktuk,CA,69.4541,-133.0374,13.10,84,21,8.79,few clouds
6,6,Mataura,NZ,-46.1927,168.8643,45.82,99,100,7.92,moderate rain
7,7,Marshfield,US,44.6689,-90.1718,72.66,56,0,14.97,clear sky
8,8,Marawi,PH,7.9986,124.2928,68.81,93,100,1.50,overcast clouds
9,9,Ushuaia,AR,-54.8000,-68.3000,50.29,74,36,5.99,scattered clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [24]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [25]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
   
                            (city_data_df["Max Temp"] >= min_temp)]
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Airai,TL,-8.9266,125.4092,61.43,80,73,2.71,broken clouds
3,3,Mahebourg,MU,-20.4081,57.7000,73.26,81,31,10.40,scattered clouds
4,4,Itarema,BR,-2.9248,-39.9167,83.66,65,13,16.58,few clouds
7,7,Marshfield,US,44.6689,-90.1718,72.66,56,0,14.97,clear sky
8,8,Marawi,PH,7.9986,124.2928,68.81,93,100,1.50,overcast clouds
9,9,Ushuaia,AR,-54.8000,-68.3000,50.29,74,36,5.99,scattered clouds
10,10,Albany,US,42.6001,-73.9662,63.34,58,100,2.82,overcast clouds
11,11,Punta Arenas,CL,-53.1500,-70.9167,57.31,41,0,31.07,clear sky
12,12,Banjar,ID,-8.1900,114.9675,77.23,90,31,4.09,scattered clouds
13,13,Ayolas,PY,-27.4000,-56.9000,80.56,53,0,7.78,light rain

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [26]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Airai,TL,-8.9266,125.4092,61.43,80,73,2.71,broken clouds
3,3,Mahebourg,MU,-20.4081,57.7000,73.26,81,31,10.40,scattered clouds
4,4,Itarema,BR,-2.9248,-39.9167,83.66,65,13,16.58,few clouds
7,7,Marshfield,US,44.6689,-90.1718,72.66,56,0,14.97,clear sky
8,8,Marawi,PH,7.9986,124.2928,68.81,93,100,1.50,overcast clouds
9,9,Ushuaia,AR,-54.8000,-68.3000,50.29,74,36,5.99,scattered clouds
10,10,Albany,US,42.6001,-73.9662,63.34,58,100,2.82,overcast clouds
11,11,Punta Arenas,CL,-53.1500,-70.9167,57.31,41,0,31.07,clear sky
12,12,Banjar,ID,-8.1900,114.9675,77.23,90,31,4.09,scattered clouds
13,13,Ayolas,PY,-27.4000,-56.9000,80.56,53,0,7.78,light rain

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [27]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()


# Display sample data
hotel_df.head(10)

            City Country  Max Temp Current Description      Lat       Lng
2          Airai      TL     61.43       broken clouds  -8.9266  125.4092
3      Mahebourg      MU     73.26    scattered clouds -20.4081   57.7000
4        Itarema      BR     83.66          few clouds  -2.9248  -39.9167
7     Marshfield      US     72.66           clear sky  44.6689  -90.1718
8         Marawi      PH     68.81     overcast clouds   7.9986  124.2928
9        Ushuaia      AR     50.29    scattered clouds -54.8000  -68.3000
10        Albany      US     63.34     overcast clouds  42.6001  -73.9662
11  Punta Arenas      CL     57.31           clear sky -53.1500  -70.9167
12        Banjar      ID     77.23    scattered clouds  -8.1900  114.9675
13        Ayolas      PY     80.56          light rain -27.4000  -56.9000

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [28]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = None

# Display sample data

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Airai,TL,61.43,broken clouds,-8.9266,125.4092,None
3,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,None
4,Itarema,BR,83.66,few clouds,-2.9248,-39.9167,None
7,Marshfield,US,72.66,clear sky,44.6689,-90.1718,None
8,Marawi,PH,68.81,overcast clouds,7.9986,124.2928,None
9,Ushuaia,AR,50.29,scattered clouds,-54.8000,-68.3000,None
10,Albany,US,63.34,overcast clouds,42.6001,-73.9662,None
11,Punta Arenas,CL,57.31,clear sky,-53.1500,-70.9167,None
12,Banjar,ID,77.23,scattered clouds,-8.1900,114.9675,None
13,Ayolas,PY,80.56,light rain,-27.4000,-56.9000,None

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [29]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [30]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Airai,TL,61.43,broken clouds,-8.9266,125.4092,None
3,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Itarema,BR,83.66,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
7,Marshfield,US,72.66,clear sky,44.6689,-90.1718,"Holiday Inn Conference Ctr Marshfield, an IHG ..."
8,Marawi,PH,68.81,overcast clouds,7.9986,124.2928,Derogongan Residence
9,Ushuaia,AR,50.29,scattered clouds,-54.8000,-68.3000,Albatross Hotel
10,Albany,US,63.34,overcast clouds,42.6001,-73.9662,None
11,Punta Arenas,CL,57.31,clear sky,-53.1500,-70.9167,Hotel Hain
12,Banjar,ID,77.23,scattered clouds,-8.1900,114.9675,The Hamsa Resort
13,Ayolas,PY,80.56,light rain,-27.4000,-56.9000,Hotel Ayolas

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [32]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Mahebourg,MU,73.26,scattered clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Itarema,BR,83.66,few clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
7,Marshfield,US,72.66,clear sky,44.6689,-90.1718,"Holiday Inn Conference Ctr Marshfield, an IHG ..."
8,Marawi,PH,68.81,overcast clouds,7.9986,124.2928,Derogongan Residence
9,Ushuaia,AR,50.29,scattered clouds,-54.8000,-68.3000,Albatross Hotel
11,Punta Arenas,CL,57.31,clear sky,-53.1500,-70.9167,Hotel Hain
12,Banjar,ID,77.23,scattered clouds,-8.1900,114.9675,The Hamsa Resort
13,Ayolas,PY,80.56,light rain,-27.4000,-56.9000,Hotel Ayolas
14,Mecca,SA,81.73,clear sky,21.4267,39.8261,"Makkah Clock Royal Tower, A Fairmont Hotel"
15,Butaritari,KI,80.64,overcast clouds,3.0707,172.7902,Isles Sunset Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [33]:
# In case of an empty DataFrame, load the sample data provided
#clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
#clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [34]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [35]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [36]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 73.26 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sea Lounge! Bar, Club & Restaurant</dd>\n<dt>City</dt><dd>Itarema</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>few clouds and 83.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Holiday Inn Conference Ctr Marshfield, an IHG Hotel</dd>\n<dt>City</dt><dd>Marshfield</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 72.66 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Derogongan Residence</dd>\n<dt>City</dt><dd>Marawi</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 68.81 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Albatross Hotel</dd>\n<dt>City</dt><dd>Ushuaia</dd>\n<dt>Country</dt><dd>AR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 50.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Hain</dd>\n<dt>City</dt><dd>Punta Arenas</dd>\n<dt>Country</dt><dd>CL</dd>\n<dt>Current Weather</dt><dd>clear sky and 57.31 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Hamsa Resort</dd>\n<dt>City</dt><dd>Banjar</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Ayolas</dd>\n<dt>City</dt><dd>Ayolas</dd>\n<dt>Country</dt><dd>PY</dd>\n<dt>Current Weather</dt><dd>light rain and 80.56 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Makkah Clock Royal Tower, A Fairmont Hotel</dd>\n<dt>City</dt><dd>Mecca</dd>\n<dt>Country</dt><dd>SA</dd>\n<dt>Current Weather</dt><dd>clear sky and 81.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.64 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [37]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3  -20.4081   57.7000
4   -2.9248  -39.9167
7   44.6689  -90.1718
8    7.9986  124.2928
9  -54.8000  -68.3000
11 -53.1500  -70.9167
12  -8.1900  114.9675
13 -27.4000  -56.9000
14  21.4267   39.8261
15   3.0707  172.7902

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [38]:
# Create a figure to add the Google map as a layer
# YOUR CODE HERE
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add a marker layer for each city to the map. 
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)


# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))